[submodule "Smongine/vendor/spdlog"]
	path = Smongine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Smongine/vendor/glm"]
	path = Smongine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Smongine/vendor/GLFW"]
	path = Smongine/vendor/GLFW
	url = git@github.com:skinzdb/glfw.git
[submodule "Smongine/vendor/openal"]
	path = Smongine/vendor/openal
	url = git@github.com:kcat/openal-soft.git
[submodule "Smongine/vendor/libsndfile"]
	path = Smongine/vendor/libsndfile
	url = git@github.com:libsndfile/libsndfile.git
[submodule "kuai/vendor/spdlog"]
	path = kuai/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "kuai/vendor/glm"]
	path = kuai/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "kuai/vendor/GLFW"]
	path = kuai/vendor/GLFW
	url = git@github.com:skinzdb/glfw.git
