[submodule "smongine/vendor/spdlog"]
	path = smongine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Smongine/vendor/ImGui"]
	path = Smongine/vendor/ImGui
	url = https://github.com/TheCherno/imgui.git
